/* Темна тема */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

header {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #2a2a2a;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #3a3a3a;
  border-radius: 5px;
}

main {
  padding: 20px;
  background-color: #181818;
}

section {
  margin-bottom: 30px;
}

footer {
  background-color: #1e1e1e;
  color: #bbbbbb;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
}

img {
  border-radius: 10px;
  margin: 10px 0;
}

/* Таблиця */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1f1f1f;
  color: #fff;
}

table, th, td {
  border: 1px solid #444;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #333;
}



/* Прикол з головним зображенням мене */

.flip-container {
  perspective: 1000px;
  width: 200px; 
  height: 270px;
  margin-bottom: 15px; /* щоб був відступ від тексту */
}

.flip-card {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container:hover .flip-card {
  transform: rotateY(180deg);
}

.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-front img, .flip-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.flip-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-back img {
  transform: rotateY(180deg); /* щоб не було дзеркально */
}

/* Ефект тряски кота */
.flip-container:hover .angry-cat {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0%   { transform: translate(0, 0)   rotate(0deg); }
  25%  { transform: translate(5px, 0) rotate(2deg); }
  50%  { transform: translate(-5px, 0) rotate(-2deg); }
  75%  { transform: translate(5px, 0) rotate(1deg); }
  100% { transform: translate(0, 0)   rotate(0deg); }
}